<div class="image-container">
 
    <a routerLink="/info">
        <h4>Ricky y Morty</h4>
      <img src="assets/images/ricky.jpg" alt="Imagen 1">
    </a>
    <a routerLink="/info2">
        <h4>Final Space</h4>
      <img src="assets/images/h.jpg" alt="Imagen 2">
    </a>
    <a routerLink="/info3">
        <h4>Valorant</h4>
      <img src="assets/images/valorant.avif" alt="Imagen 3">
    </a>
    <a routerLink="/info4">
      <h4>Monster Hunting World</h4>
    <img src="assets/images/monster.webp" alt="Imagen 3">
  </a>
  </div>
